@media screen and (min-width: 768px) and (max-width: 1024px) {
/* General */
  body {
    margin: 0rem;
    display: inline-grid;
  }
  main {
    display: inline-block
  }
/*HEADER*/
  .header {
    grid-template-columns: auto 64rem;
    grid-template-areas: "logo . navbar button";
  }
/* NavBar HEADER*/
/* FILTRES */
  .searchFilters {
    font-size:unset ;
  }
/* Hosting */
  .hostingMain {
    grid-template-columns: revert 1fr;
    background-color: #F2F2F2;
    
  }
  .hostingPopular {
    grid-template-columns: 24rem auto 25rem 0rem 0rem;
    grid-template-rows: auto 11rem;
    column-gap: 2rem;
    grid-row-start: 2;
  }
/* ACTIVITY */
  .activity {
    row-gap: 2rem;
    grid-template-columns: auto 19rem 19rem 20rem;
    grid-template-rows: auto 5rem 3rem 2rem 2rem 9rem ;
  }
/* FOOTER */
  .footer {
    display: inline-table;
  }
}


@media screen and (max-width: 1024px) and (max-width: 768px) {
/* General */
/* Header */
  .header {
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .headerimg {
    order: 0;
  }
  .headerSignup {
    order: 1;
  }
  .headerNav {
    order: 2;
  }
  .headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
  }
  .headerNavLink[data-active=true] {
    border-bottom-color: #0065FC;
  }
  .headerNavLink:hover {
    border-bottom-color: #0065FC;
  }
  .headerImg {
    grid-area: logo;
    padding-left: 10rem;
    height: 2rem;
  }
/* NavBar HEADER*/
/* FILTRES */
/* Hosting */
  .hostingMain {
    display: contents;
  }
  .hostingPopular {
    background-color: var(--grey);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    font-size: medium;
} 
  .hostingMainCard {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box; 
    height: 11rem;   
  }
/* ACTIVITY */
/* FOOTER */    
}