/* General */
.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sizeliens {
    width: 45%;
}

.colorliens {
    color: blue;
}
 .texteGras {
     font-weight: bold;
 }
 
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --heavy-grey: #d9d9d9;
}


body {
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway-Regular";
    font-weight: 300;
}
html {
    scroll-behavior: smooth;
}
body main , #nav {
    padding: 0 4rem;
}

 /* NavBar HEADER*/
 */
#nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#nav ul>li {
    display: inline;
    padding: 3rem 2.5rem;
    
}
#nav ul>li:hover {
    box-shadow: inset 0 20px 0px -17px var(--blue);
}
#nav ul>li a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
#nav ul>li:hover a {
    color: var(--blue);
}
 

.nav-logo {
    align-self: center;
}
.nav-logo img {
    height: 4rem;
}
.text-align {
    border-end-end-radius: ;
}
 /* FILTRES */ 

#search-filter-container {
    margin-bottom: 1.5rem;
}
.search-title-container {
    margin-bottom: 1.5rem;
}
.search-title-container h1 {
    font-family: "Raleway-Bold";
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: -1px;
    font-size: 1.8rem;
}
.search-title-container p {
    margin: 0;
    font-weight: 600;
    opacity: 70%;
}
.search-container {
    display: flex;
    margin-bottom: 1.5rem;
}
.search-container > span {
    background-color: var(--grey);
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}
.search-container .search-input {
    font-family: "Raleway-Bold";
    padding: 1rem !important;
    border: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    width: 13rem;
    min-width: 7rem;
}
.search-container .search {
    font-family: "Raleway-Bold";
    background-color: var(--blue);
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: white;
    padding: 1rem;
}
.search-container .search:hover {
    background-color: #0051ca;
}
.search-container .search i {
    display: none;
}

.filter-container {
    margin-bottom: 1.5rem;
}
.filter-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.filter-container ul>li {
    display: inline;
}
.filter-container ul .filter-title {
    font-family: "Raleway-Bold";
    font-size: .85rem;
}
.filter-container .filter {
    padding: 0 1rem 0 0;
    display: flex;
    width: fit-content;
    height: 3.125rem;
    border: 0.125rem solid #F2F2F2 ;
    border-radius: 1.875rem;
    align-items: center;
    margin-right: 1.25rem;
}
.filtreicons {
    border-radius: 1.563rem;
    width: 3.25rem;
    height: 3.25rem;
    color: #0065FC;
    background-color: #DEEBFF;
}
.filter-container {
    transform: translateY(-5px);
    cursor: pointer;
}
.filtreTextIcons:hover > .filtertexte {
    color: #0065FC;
}
.filtreTextIcons:hover > .filtreicons {
    color: white;
    background-color: #0065FC;
}
.filtertexte {
    height: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0 1.563rem 1.563rem 0;
}

/* Hosting */


.hostingWrapper, .hostingPopular, .hostingMain {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
  }
  
  .hosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
  }
  .hostingMain {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .hostingMainHeader {
    grid-column: 1/-1;
  }
  .hostingMainHeaderTitle {
    margin: 0;
  }
  .hostingMainCard {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
  }
  .hostingMainCard:hover {
    transform: scale(1.02);
  }
  .hostingMainCardFigure {
    margin: 0;
  }
  .hostingMainCardFigureImg {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .hostingMainCardFigureCaptionTitle {
    margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .hostingMainCardDesc {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  .hostingMainCardDescPrice {
    font-weight: bold;
  }
  .hostingMainCardGrade {
    margin: 0 0.75rem 0.25rem 0.75rem;
  }
  .hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
  }
  .hostingMainCardGradeIcon[data-active=false] {
    color: #d9d9d9;
  }
  .hostingMainViewmore {
    font-weight: bold;
  }
  .hostingPopular {
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
  }
  .hostingPopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .hostingPopularWrapcontent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
  }
  .hostingPopularWrapcontentWrapimg {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
  }
  .hostingPopularWrapcontentWrapimgImg {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hostingPopularWrapcontentContent {
    display: flex;
    flex-direction: column;
  }
  .hostingPopularWrapcontentContentWhitespace {
    flex: 1;
  }
  .hostingPopularhostingMainCard {
    height: 8.75rem;
  }
  
  @media (max-width: 1440px) {
    .hosting {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .hostingPopular {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 10rem;
      column-gap: 2rem;
      grid-row-start: 1;
    }
    .hostingPopularTitle {
      grid-column: 1/-1;
    }

}
@media (min-width: 925px) {
  .hostingMain {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}