/* General */
.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sizeliens {
    width: 45%;
}

.colorliens {
    color: blue;
}
 .texteGras {
     font-weight: bold;
 }
 
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --heavy-grey: #d9d9d9;
}


body {
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway-Regular";
    font-weight: 300;
}
html {
    scroll-behavior: smooth;
}
body main , #nav {
    padding: 0 4rem;
}

 /* NavBar HEADER*/
 */
#nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#nav ul>li {
    display: inline;
    padding: 3rem 2.5rem;
    
}
#nav ul>li:hover {
    box-shadow: inset 0 20px 0px -17px var(--blue);
}
#nav ul>li a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
#nav ul>li:hover a {
    color: var(--blue);
}
 

.nav-logo {
    align-self: center;
}
.nav-logo img {
    height: 4rem;
}
.text-align {
    border-end-end-radius: ;
}
 /* FILTRES */ 

#search-filter-container {
    margin-bottom: 1.5rem;
}
.search-title-container {
    margin-bottom: 1.5rem;
}
.search-title-container h1 {
    font-family: "Raleway-Bold";
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: -1px;
    font-size: 1.8rem;
}
.search-title-container p {
    margin: 0;
    font-weight: 600;
    opacity: 70%;
}
.search-container {
    display: flex;
    margin-bottom: 1.5rem;
}
.search-container > span {
    background-color: var(--grey);
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}
.search-container .search-input {
    font-family: "Raleway-Bold";
    padding: 1rem !important;
    border: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    width: 13rem;
    min-width: 7rem;
}
.search-container .search {
    font-family: "Raleway-Bold";
    background-color: var(--blue);
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: white;
    padding: 1rem;
}
.search-container .search:hover {
    background-color: #0051ca;
}
.search-container .search i {
    display: none;
}

.filter-container {
    margin-bottom: 1.5rem;
}
.filter-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.filter-container ul>li {
    display: inline;
}
.filter-container ul .filter-title {
    font-family: "Raleway-Bold";
    font-size: .85rem;
}
.filter-container .filter {
    padding: 0 1rem 0 0;
    display: flex;
    width: fit-content;
    height: 3.125rem;
    border: 0.125rem solid #F2F2F2 ;
    border-radius: 1.875rem;
    align-items: center;
    box-shadow: inset 0 0 0 2px #d9d9d9;
    transition: transform .2s;
    position: relative;
    user-select: none;
    margin-right: 1.25rem;
}
.filtreicons {
    border-radius: 1.563rem;
    width: 3.25rem;
    height: 3.25rem;
    color: #0065FC;
    background-color: #DEEBFF;
}
.filter-container {
    transform: translateY(-5px);
    cursor: pointer;
}


 /* Hébergements */
#hosting {
    margin-bottom: 2.5rem;
}
.hosting-container {
    display: flex;
    gap: 2rem;
}
.hosting-content {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 2rem;
    padding: 2rem;
    flex: 1 1 66%;
}
.hosting-content h2 {
    font-family: "Raleway-Bold";
    margin: 0 0 1.5rem 0;
}
.hosting-content {
    text-decoration: unset;
    font-family: 'Raleway-Bold';
    color: black;
}

/* Cards Hébergements */
.cards-container {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    gap: 2rem 1rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 29%;
    background-color: white;
    border-radius: 1rem;
    padding: 0.2rem;
    box-shadow: 0 5px 25px 0px rgb(0, 0, 0, 0.2);
    transition: transform .2s ease;
}
.card:hover {
    transform: translateY(5px);
}
.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 1px;
    flex-grow: 1;
}
.card .card-body {
    padding: .45rem;
}
.card-body .card-title {
    font-family: 'Raleway-Bold';
    margin: 0 0 0.25rem 0;
}
.card-body .card-text {
    margin: 0;
    font-size: 0.75rem;
    flex-grow: 1;
}
.card-body .rating-container {
    text-decoration: none;
}
.card-body .rating-container span {
    color: var(--heavy-grey);
    font-size: .65rem;
}
.checked {
    color: var(--blue) !important;
}

rating