/* General */
html,body {
    font-family: Raleway; 
 }
 .flexCentre {
    display: flex;
    justify-content: center;
    align-items: center; 
 }
 .flexAround {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .flexBetween {
     display: flex;
     justify-content: space-between ;
     align-items: center;
 }
 .decorationNone {
     text-decoration: none;
 }
 .bordureNone{
     border: none;
 }
 .texteGras {
     font-weight: bold;
 }
 .colorBleu {
     color: #0065fc;
 }
 .colorBleuClair {
     color: #deebff;
 }
 .colorGris {
     color: #f2f2f2;
 }
 .backBleu {
     background-color: #0065fc;
 }
 .backBleuClair {
     background-color: #deebff;
 }
 .backGris {
     background-color: #f2f2f2;
 }
 .sizeLiens {
    width: 45%;
}
 /*NAV*/ 
 .sizeNav {
     height: 6.25em;
 }
 
 .sizeLien {
     width: 7.0625em;
     height: 1.1875em;
 }
 .colorLien2 {
     color: black;
 }

 .bordureNav {
     border-top: 0.0625em solid blue;
 }
 .bordureNav2 {
     border-top: 0.0625em solid transparent;
 }    
 .margelogo {
     margin-bottom: 0.4375em;
 }

 /*HEADER*/
 .bordureSearch {
     width: 25em;
     border-radius: 0.625em;
     border: 0.03125em solid #f2f2f2;
 }
 .paddingSearch {
     padding-left: 1.25em;
 }
 .recherche {
     height: 3.125em;
     width: 14.375em;
     font-size: 1.125em;
     color: black;
     font-weight: bold;
 }
 .iconSize {
     height: 3.125em;
     width: 3.125em;
     border-radius: 0.625em 0 0 0.625em;
 }
 .buttonSearch {
     height: 3.125em;
     width: 7.5em;
     color: white;
     cursor: pointer;
     border-radius: 0 0.625em 0.625em 0;
 }

 /* FILTRES */
.margFiltre {
    margin-top: 3.125em;
    margin-bottom: 2.5em;
}

.filtre {
    display: flex;
    align-items: center;
 }
 .margeFiltreTitre {
    margin-right: 1.25em;

 }
 .filtreTexteIcons {
    border: 0.125em solid #f2f2f2;
    height: 3.125em;
    border-radius: 1.875em;
    margin-right: 1.25em;

 }
 .filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc;
 }

 .filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;
 }
 .filtreTexte {
    height: 3.125em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-radius: 0 1.563em 1.563em 0;
 }
 .filtreIcons {
    margin-left: -0.125em;
    border-radius: 1.563em;
    width: 3.25em;
    height: 3.25em;
    color: #0065fc;
    background-color: #deebff;

 }


